
/********/
/* main */
/********/

main {
    padding-top: 7.5rem;
}

h2 {
    font-family: "Foam serif",serif;
    font-size: 2.4rem;
    font-weight: 100;
    margin: .9rem;
    line-height: .95em;
    letter-spacing: -0.03em;
}

@media (min-width: 768px) {
    main {
        padding-top: 2rem;
    }
}

@media (min-width: 1024px) {
    main {
        padding-top: 4rem;
    }
}

/**************************/
/* header second nav index*/
/**************************/

header > :nth-child(n+6) {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 100%;
	order: 6;
}

header nav:nth-of-type(2) {
	position: relative;
	z-index: 997;
	overflow: visible;
}

header nav:nth-of-type(2) ul {
	display: grid;
	grid-template-columns: 30% 20% 30% 20%;
	padding-top: .5rem;
	padding-right: 1px;
	padding-left: 1px;
}

header nav:nth-of-type(2) li {
	padding-top: .7rem;
	padding-bottom: .7rem;
	text-align: center;
	background-color: var(--color-background-main);
	outline: 1px solid var(--color-border-gray);
}

header nav:nth-of-type(2) a {
	display: flex;
	justify-self: center;
	align-self: center;
	font-size: .8rem;
	color: var(--color-text-main);
}

header nav:nth-of-type(2) li:hover { 
	z-index: 3;
	outline-color: var(--color-border-black);
	transform: none;
}

header nav:nth-of-type(2) a:hover {
	transform: none;
}

/*************/
/* section 1 */
/*************/

main section:nth-of-type(1) {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: .8rem;
}

main section:nth-of-type(1) h1 {
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: "Foam serif", serif;
    font-size: 2rem;
    font-weight: 100;
    line-height: 100%;
    max-width: 30rem;
    color: var(--color-text-main);
    letter-spacing: -0.03em;
}

main section:nth-of-type(1) video {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    width: 100%;
    height: auto;
}

main section:nth-of-type(1) button {
    z-index: 50;
    justify-self: right;
    align-self: end;
    grid-column-start:3 ;
    grid-row-start: 1;
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem;
    border-width: 1px;
    border-radius: 0;
}

main section:nth-of-type(1) button svg {
    width: 1rem;
    height: 1rem;
    line-height: 1px;
}

main section:nth-of-type(1) p {
    position: relative;
    left: 1rem;
    margin-top: 0;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
}

main section:nth-of-type(1) p::before {
    position: absolute;
    top: .4rem;
    left: -1rem;
    width: .4em;
    height: .4em;
    content: " ";
    background-color: var(--color-foam-open);
    border-width: 1px;
    border-radius: 20px;
}

main section:nth-of-type(1) a {
    justify-self: start;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    width: 10rem;
    padding: .8rem;
    font-size: .9rem;
    text-align: center;
    text-decoration: none;
    color: var(--color-text-second);
    background-color: var(--color-background-second);
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-text-main);
    transition: 0.3s;
    
}

main section:nth-of-type(1) a:hover {
    color: var(--color-text-main);
    background-color: var(--color-background-main);
    border-color: var(--color-border-black);
}

main section:nth-of-type(1) a::selection {
	color: var(--color-text-main);    
	background-color: var(--color-background-main); 
}

@media (min-width: 768px) {
    main section:nth-of-type(1) {
        margin-left: 3rem;
    }

    main section:nth-of-type(1) h1 {
         font-size: 2.5rem;
    }

	main section:nth-of-type(1) video {
		grid-column-start: 2;
        width: 100%; 
        height: 80%; 
        object-fit: cover;
        object-position: center;
        align-self: end;
	}
}

@media (min-width: 1024px) {
    main section:nth-of-type(1) {
        grid-template-rows: 1fr max-content 1fr;
         margin-left: 6rem;

    }

    main section:nth-of-type(1) h1 {
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        align-self: end;
        max-width: 20rem;
    }

    main section:nth-of-type(1) video {
        grid-row-end: 4;
        width: 100%; 
        height: 90%; 
        object-fit: cover;
        object-position: center;
    }

    main section:nth-of-type(1) button {
        grid-row-start: 3;
    }

    main section:nth-of-type(1) p {
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        height: max-content;
    }

    main section:nth-of-type(1) a {
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        align-self: start;
    }
}

/*************/
/* section 2 */
/*************/

main section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-left: .9rem;
    color: var(--color-text-second);
    background-color: var(--color-background-second);
}

main section:nth-of-type(2) ::selection {
    color: var(--color-text-main);
    background-color: var(--color-background-main);
}

main section:nth-of-type(2) h3{
    order: 4;
    margin: 0;
    padding-top: .8rem;
    padding-right: .9rem;
    font-family: "Foam serif", serif;
    font-size: 2rem;
    max-width: 20rem;
    font-weight: 100;
    line-height: 120%;
}

main section:nth-of-type(2) p:nth-of-type(1) {
    order: 2;
    width: max-content;
    padding: .1rem .6rem .25rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 5rem;
}


main section:nth-of-type(2) p:nth-of-type(2) {
    position: relative;
    top: -1.5rem;
    left: 7.2rem;
    order: 3;
    height: 0;
    margin: 0;
}

main section:nth-of-type(2) img{
    order: 1;
}

main section:nth-of-type(2) a{
    order: 5;
    margin-top: 1.2rem;
    margin-right: .9rem;
    margin-bottom: 1.2rem;
    padding: .8rem;
    text-align: center;
    text-decoration: none;
    color: var(--color-text-second);
    background-color: var(--color-background-second);
    border-width: 1px;
    border-style: solid;
    transition: 0.3s;
}

main section:nth-of-type(2) a:hover {
    color: var(--color-text-main);
    background-color: var(--color-background-main);
}

@media (min-width: 768px) {
    main section:nth-of-type(2) {
        margin-top: 2rem;
        padding: 4rem 3rem 2rem 16rem;
    }

    main section:nth-of-type(2) a {
        margin-right: 0;
    }
}

@media (min-width: 1024px) {
    main section:nth-of-type(2) {
        margin-top: 2rem;
        padding: 4rem 12rem 2rem 22rem;
    }

    main section:nth-of-type(2) a {
        margin-right: 0;
    }
}

/*************/
/* section 3 */
/*************/

main section:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    margin: 0 .9rem;
}

main section:nth-of-type(3) h2 {
    margin: 3rem 0 0 0;
}

main section:nth-of-type(3) ul {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0;
    list-style: none;
}

main section:nth-of-type(3) li:nth-of-type(-n+2) {
    margin-left: 20%;
}

main section:nth-of-type(3) li:nth-of-type(n+3) {
    margin-left: 30%;
}


main section:nth-of-type(3) li a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--color-text-main);
    transition: 0.3s ease;
}

main section:nth-of-type(3) li a:hover {
    color: var(--color-text-hover);
}

main section:nth-of-type(3) li a:hover p:nth-of-type(1) {
    color: var(--color-text-hover);
    background-color: var(--color-background-main);
}

main section:nth-of-type(3) h3 {
    order: 3;
    margin: 0;
    font-weight: 100;
}

main section:nth-of-type(3) li:nth-of-type(1) h3 {
    font-style: italic;
    font-weight: 100;
}

main section:nth-of-type(3) p:nth-of-type(1) {
    order: 2;
    width: max-content;
    margin: .5rem 0;
    padding: .1rem .6rem .25rem;
    font-size: .8rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 5rem;
}

main section:nth-of-type(3) li:nth-of-type(n+3) p:nth-of-type(1) {
   color: var(--color-text-second);
   background-color: black;
   transition: 0.3s ease;
}

main section:nth-of-type(3) p:nth-of-type(2) {
    order: 4;
    margin: 0;
    font-size: .9rem;
}

main section:nth-of-type(3) img {
    order: 1;
}

main section:nth-of-type(3) > a{
    display: inline-flex;
    align-items: center; 
    gap: 1rem;          
    margin-top: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--color-text-main);
}

main section:nth-of-type(3) > a svg {
    width: 3.5rem;            
    height: 1.5em;
    overflow: visible;
    transform: translateY(0.09rem);
} 

main section:nth-of-type(3) > a svg line {
    transition: transform 0.5s ease;
    transform: scaleX(1);
    transform-origin: left center;
}

main section:nth-of-type(3) > a svg path {
    transition: transform 0.5s ease;
}


main section:nth-of-type(3) > a:hover{
    color: var(--color-text-hover);
}

main section:nth-of-type(3) > a:hover svg line{
    transform: scaleX(1.5);
}

main section:nth-of-type(3) > a:hover svg path{
    transform: translateX(1.5rem);
}

@media (min-width: 768px) {
    main section:nth-of-type(3) {
        display: grid;
        grid-template-columns: 65% 35%;
        align-items: center;
        margin: 10rem 3rem;
    }

    main section:nth-of-type(3) h2 {
        grid-column: 1;
        grid-row: 1;
          margin: 0;
  }

    main section:nth-of-type(3) > a {
        grid-column: 2;
        grid-row: 1;
        justify-self: end;
        margin: 0;
    }

    main section:nth-of-type(3) > ul {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2;
    }
}

@media (min-width: 1024px) {
    main section:nth-of-type(3) {
        margin-right: 0;
    }

    main section:nth-of-type(3) h2 {
        margin-left: 3rem;
    }

    main section:nth-of-type(3) > a {
        margin-right: 6rem;
    }

    main section:nth-of-type(3) ul {
        display: flex;
        flex-direction: row;
        gap: 0;
        flex-wrap: wrap;
        align-items: center; 
     }

    main section:nth-of-type(3) li {
        flex: 0 0 33.333%;
        margin: 0;
        padding: 2rem 0 0 3rem;
     }

    main section:nth-of-type(3) li:nth-of-type(-n+2),
    main section:nth-of-type(3) li:nth-of-type(n+3) {
        margin-left: 0;
    }

    main section:nth-of-type(3) li:last-child {
        margin-left: auto;
        margin-right: auto;
    }

    main section:nth-of-type(3) img {
        width: 100%;
    }
    
}



/*************/
/* section 4 */
/*************/

main section:nth-of-type(4) {
    display: flex;
    flex-direction: column;
    margin-left: .9rem;
}

main section:nth-of-type(4) h2 {
    margin: 5rem 0 1rem 0;
}

main section:nth-of-type(4) h3 {
    display: flex;
    flex-direction: column;
    order: 4;
    margin: 0 .9rem 0 0;
    font-size: 2rem;
    font-family: 'Foam serif', serif;
    font-weight: 500;
}

main section:nth-of-type(4) h3 span:nth-of-type(2){
    align-self: end;
    
}

main section:nth-of-type(4) p {
    order: 3;
    width: max-content;
    margin: 2rem 0;
    padding: .1rem .6rem .25rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 5rem;
}

main section:nth-of-type(4) img {
    order: 2;
}

main section:nth-of-type(4) a {
    order: 5;
    margin-top: 1.2rem;
    margin-right: .9rem;
    margin-bottom: 5rem;
    padding: .8rem 1.5rem;
    text-align: center;
    text-decoration: none;
    color: var(--color-text-main);
    background-color: var(--color-background-main);
    border-width: 1px;
    border-style: solid;
    transition: 0.3s;
}

main section:nth-of-type(4) a:hover {
    color: var(--color-text-second);
    background-color: var(--color-background-second);
}

@media (min-width: 1024px) {
    main section:nth-of-type(4) {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: auto 1fr auto auto auto;
        row-gap: 1rem;
        align-items: end;
        margin: 8rem 6rem;
    }

    main section:nth-of-type(4) h2 {
        grid-column: 1;
        grid-row: 1;
        margin: 0;
        align-self: start;
    }

    main section:nth-of-type(4) img {
        grid-column: 1;
        grid-row-start: 2;
        grid-row-end: 6;
        width: 100%;
        height: 100%;
        padding-right: 3rem;
        object-fit: cover;
        align-self: stretch;
    }

    main section:nth-of-type(4) p {
        grid-column: 2;
        grid-row: 3;
        margin: 0;
        align-self: end;
    }

    main section:nth-of-type(4) h3 {
        grid-column: 2;
        grid-row: 4;
        margin: 0;
        font-size: 3rem;
    }

    main section:nth-of-type(4) a {
        grid-column: 2;
        grid-row: 5;
        margin: 1rem 0 0;
        align-self: start;
        width: max-content;
    }
}

/*************/
/* section 5 */
/*************/

main section:nth-of-type(5) {
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
    color: var(--color-text-second);
    background-color: var(--color-background-second);
}

main section:nth-of-type(5) h2 {
    order: 1;
    max-width: 17rem;
    margin: 1rem .9rem;
    line-height: 1.1em;
}

main section:nth-of-type(5) p {
    order: 3;
    max-width: 17rem;
    margin: 1.5rem .9rem;
    line-height: 1.4rem;
}

main section:nth-of-type(5) a {
    order: 4;
    margin: .5rem .9rem;
    padding: .8rem;
    max-width: 25rem;
    text-align: center;
    align-content: center;
    text-decoration: none;
    color: var(--color-text-second);
    background-color: var(--color-background-second);
    border-width: 1px;
    border-style: solid;
    transition: 0.3s;
}

main section:nth-of-type(5) a:hover {
    color: var(--color-text-main);
    background-color: var(--color-background-main);
}

main section:nth-of-type(5) img {
    order: 2;
    margin: 2rem 0;
}

@media (min-width: 768px) { 
    main section:nth-of-type(5) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        padding: 2rem 3rem;
        margin: 0;
    }

    main section:nth-of-type(5) h2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 5;
        align-self: center;
        margin: 0;
    }

    main section:nth-of-type(5) p {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 3;
        grid-column-end: 4;
        margin: 0 0 1rem .9rem;
    }

    main section:nth-of-type(5) img {
        width: 100%; 
        height: 100%; 
        object-fit: cover;
        object-position: center;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 5;
        margin: 0;
    }


    main section:nth-of-type(5) a {
        grid-column-start: 3;
        grid-column-end: 4;
        margin: 0 0 0 .9rem;
    }
}

@media (min-width: 1024px) {
    main section:nth-of-type(5) {
        padding: 12rem 6rem;
        column-gap: 3rem;
    }

    main section:nth-of-type(5) h2 {
        font-size: 4rem;
        max-width: 30rem;
        align-self: start;
    }

}


/*************/
/* section 6 */
/*************/

main section:nth-of-type(6) {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    padding: .5rem .9rem;
    background-color: var(--color-background-third);
}

main section:nth-of-type(6) h2{
    order: 1;
    max-width: 20rem;
    margin: 1rem 0 4rem;
}

main section:nth-of-type(6) p:nth-of-type(1){
    order: 2;
    margin: .1rem 0;
    font-size: 1.2rem;
}

main section:nth-of-type(6) p:nth-of-type(2){
    order: 5;
    max-width: 15rem;
    align-self: flex-end;
    font-family: "Foam serif",serif;
    font-size: 2.4rem;
    font-weight: 100;
    margin: .9rem;
    line-height: .95em;
    letter-spacing: -0.03em;
    text-align: right;
}

main section:nth-of-type(6) a:nth-of-type(-n+2) {
    order: 3;
    line-height: 1.5rem;
    font-size: 1.2rem;
    color: var(--color-text-main);
    max-width: 20.5rem;
}

main section:nth-of-type(6) a:nth-of-type(-n+2):hover {
    color: var(--color-text-hover);
}

main section:nth-of-type(6) a:nth-of-type(3) {
    order: 4;
    margin: 1rem 0;
    padding: .8rem;
    text-align: center;
    text-decoration: none;
    color: var(--color-text-main);
    background-color: var(--color-background-third);
    border-width: 1px;
    border-style: solid;
    max-width: 20.5rem;
    transition: 0.3s;

}

main section:nth-of-type(6) a:nth-of-type(3):hover {
    color: var(--color-text-second);
    background-color: var(--color-background-second);
    border-color: transparent;
}

@media (min-width: 768px) {
    main section:nth-of-type(6) {
        position: relative;
        padding: 3rem;
    }

    main section:nth-of-type(6) h2 {
        margin-bottom: 15rem;
    }

    main section:nth-of-type(6) p:nth-of-type(2) {
        position: absolute;
        bottom: 3rem;
    }
}

@media (min-width: 1024px) {
    main section:nth-of-type(6) {
        padding: 12rem 6rem;
    }

    main section:nth-of-type(6) h2 {
        font-size: 4rem;
        max-width: 30rem;
    }

    main section:nth-of-type(6) p:nth-of-type(2) {
        font-size: 4rem;
        bottom: 12rem;
        max-width: 30rem;
    }
}