
/********/
/* main */
/********/

main {
    padding-top: 7.5rem;
}


/*************/
/* section 1 */
/*************/

main section:nth-of-type(1) {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: .8rem;
}

main section:nth-of-type(1) h1 {
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: "Foam serif", serif;
    font-size: min(2.25rem, 9.6vw);
    font-weight: 100;
    line-height: 100%;
    color: var(--color-text-main);
}

main section:nth-of-type(1) video {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    width: 100%;
    height: auto;
}

main section:nth-of-type(1) button {
    z-index: 50;
    justify-self: right;
    align-self: end;
    grid-column-start:3 ;
    grid-row-start: 1;
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem;
    border-width: 1px;
    border-radius: 0;
}

main section:nth-of-type(1) button svg {
    width: 1rem;
    height: 1rem;
    line-height: 1px;
}

main section:nth-of-type(1) p {
    position: relative;
    top: -1em;
    left: 1rem;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
}

main section:nth-of-type(1) p::before {
    position: absolute;
    top: .4rem;
    left: -1rem;
    width: .4em;
    height: .4em;
    content: " ";
    background-color: var(--color-foam-open);
    border-width: 1px;
    border-radius: 20px;
}

main section:nth-of-type(1) a {
    justify-self: start;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    width: 10rem;
    padding: .8rem;
    font-size: .9rem;
    text-align: center;
    text-decoration: none;
    color: var(--color-text-second);
    background-color: var(--color-background-second);
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-background-second);
    transition: 0.3s;
    
}

main section:nth-of-type(1) a:hover {
    color: var(--color-text-main);
    background-color: var(--color-background-main);
    border-color: var(--color-border-black);
}

main section:nth-of-type(1) a::selection {
	color: var(--color-text-main);    
	background-color: var(--color-background-main); 
  }

/*************/
/* section 2 */
/*************/

main section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-left: .9rem;
    color: var(--color-text-second);
    background-color: var(--color-background-second);
}

main section:nth-of-type(2) h3{
    order: 4;
    margin: 0;
    padding-top: .8rem;
    padding-right: .9rem;
    font-family: "Foam serif", serif;
    font-size: 2rem;
    font-weight: 100;
    line-height: 120%;
}

main section:nth-of-type(2) p:nth-of-type(1) {
    order: 2;
    width: max-content;
    padding: .1rem .6rem .25rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 5rem;
}


main section:nth-of-type(2) p:nth-of-type(2) {
    position: relative;
    top: -1.5rem;
    left: 7.2rem;
    order: 3;
    height: 0;
    margin: 0;
}

main section:nth-of-type(2) img{
    order: 1;
}

main section:nth-of-type(2) a{
    order: 5;
    margin-top: 1.2rem;
    margin-right: .9rem;
    margin-bottom: 1.2rem;
    padding: .8rem;
    text-align: center;
    text-decoration: none;
    color: var(--color-text-second);
    background-color: var(--color-background-second);
    border-width: 1px;
    border-style: solid;
    transition: 0.3s;
}

main section:nth-of-type(2) a:hover {
    color: var(--color-text-main);
    background-color: var(--color-background-main);
}

/*************/
/* section 3 */
/*************/

main section:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    margin: 0 .9rem;
}

main section:nth-of-type(3) h2 {
    margin: 3rem 0 0 0;
    font-size: 2rem;
    font-weight: 100;
}

main section:nth-of-type(3) ul {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0;
    list-style: none;
}

main section:nth-of-type(3) li:nth-of-type(-n+2) {
    margin-left: 20%;
}

main section:nth-of-type(3) li:nth-of-type(n+3) {
    margin-left: 30%;
}


main section:nth-of-type(3) ul a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--color-text-main);
}

main section:nth-of-type(3) li a {
    transition:0.3s ease;
}

main section:nth-of-type(3) li a:hover {
    color: var(--color-text-hover);
}

main section:nth-of-type(3) li a:hover p:nth-of-type(1) {
    color: var(--color-text-hover);
    background-color: var(--color-background-main);
}

main section:nth-of-type(3) h3 {
    order: 3;
    margin: 0;
    font-weight: 100;
}

main section:nth-of-type(3) li:nth-of-type(1) h3 {
    font-style: italic;
    font-weight: 100;
}

main section:nth-of-type(3) p:nth-of-type(1) {
    order: 2;
    width: max-content;
    margin: .5rem 0;
    padding: .1rem .6rem .25rem;
    font-size: .8rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 5rem;
}

main section:nth-of-type(3) li:nth-of-type(n+3) p:nth-of-type(1) {
   color: var(--color-text-second);
   background-color: black;
   transition:0.3s ease;
}

main section:nth-of-type(3) p:nth-of-type(2) {
    order: 4;
    margin: 0;
    font-size: .9rem;
}

main section:nth-of-type(3) img {
    order: 1;
}

main section:nth-of-type(3) > a{
    display: inline-flex;
    align-items: center; 
    gap: 1rem;          
    margin-top: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--color-text-main);
}

main section:nth-of-type(3) a svg {
    width: 4rem;            
    height: 1.5em;
    overflow: visible;
    transform: translateY(0.09rem);
} 

main section:nth-of-type(3) a svg line {
    transition: transform 0.3s ease;
    transform: scaleX(1);
    transform-origin: left center;
}

main section:nth-of-type(3) a svg path {
    transition: transform 0.3s ease;
}


main section:nth-of-type(3) a:hover{
    color: var(--color-text-hover);
}

main section:nth-of-type(3) a:hover svg line{
    transform: scaleX(1.5);
}

main section:nth-of-type(3) a:hover svg path{
    transform: translateX(1.5rem);
}


/*************/
/* section 4 */
/*************/

main section:nth-of-type(4) {
    display: flex;
    flex-direction: column;
    margin-left: .9rem;
}

main section:nth-of-type(4) h2 {
    margin: 5rem 0 1rem 0;
    font-size: 2rem;
    font-weight: 100;
}

main section:nth-of-type(4) h3 {
    display: flex;
    flex-direction: column;
    order: 4;
    margin: 0 .9rem 0 0;
    font-size: 2rem;
    font-weight: 500;
}

main section:nth-of-type(4) h3 span:nth-of-type(2){
    align-self: end;
    
}

main section:nth-of-type(4) p {
    order: 3;
    width: max-content;
    margin: .5rem 0;
    padding: .1rem .6rem .25rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 5rem;
}

main section:nth-of-type(4) img {
    order: 2;
}

main section:nth-of-type(4) a {
    order: 5;
    margin-top: 1.2rem;
    margin-right: .9rem;
    margin-bottom: 5rem;
    padding: .8rem;
    text-align: center;
    text-decoration: none;
    color: var(--color-text-main);
    background-color: var(--color-background-main);
    border-width: 1px;
    border-style: solid;
    transition: 0.3s;
}

main section:nth-of-type(4) a:hover {
    color: var(--color-text-second);
    background-color: var(--color-background-second);
}


/*************/
/* section 5 */
/*************/

main section:nth-of-type(5) {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    color: var(--color-text-second);
    background-color: var(--color-background-second);
}

main section:nth-of-type(5) h2 {
    order: 1;
    max-width: 17rem;
    margin: 1rem .9rem;
    font-size: 2.3rem;
    font-weight: 500;
    line-height: 2.4rem;
}

main section:nth-of-type(5) p {
    order: 3;
    max-width: 17rem;
    margin: 1.5rem .9rem;
    line-height: 1.4rem;
}

main section:nth-of-type(5) a {
    order: 4;
    margin: .5rem .9rem;
    padding: .8rem;
    text-align: center;
    text-decoration: none;
    color: var(--color-text-second);
    background-color: var(--color-background-second);
    border-width: 1px;
    border-style: solid;
    transition: 0.3s;
}

main section:nth-of-type(5) a:hover {
    color: var(--color-text-main);
    background-color: var(--color-background-main);
}

main section:nth-of-type(5) img {
    order: 2;
    margin: 2rem 0;
}

/*************/
/* section 6 */
/*************/

main section:nth-of-type(6) {
    display: flex;
    flex-direction: column;
    padding: .5rem .9rem;
    background-color: var(--color-background-third);
}

main section:nth-of-type(6) h2{
    order: 1;
    max-width: 20rem;
    margin-bottom: 4rem;
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 2.5rem;
}

main section:nth-of-type(6) p:nth-of-type(1){
    order: 2;
    margin: .1rem 0;
}

main section:nth-of-type(6) p:nth-of-type(2){
    order: 5;
    max-width: 20rem;
    margin: 4rem 0 2rem 0;
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 2.5rem;
    text-align: right;
}

main section:nth-of-type(6) a:nth-of-type(-n+2) {
    order: 3;
    line-height: 1.5rem;
    color: var(--color-text-main);
}

main section:nth-of-type(6) a:nth-of-type(3) {
    order: 4;
    margin: 1rem 0;
    padding: .8rem;
    text-align: center;
    text-decoration: none;
    color: var(--color-text-main);
    background-color: var(--color-background-third);
    border-width: 1px;
    border-style: solid;
    transition: 0.3s;
}

main section:nth-of-type(6) a:nth-of-type(3):hover {
    color: var(--color-text-second);
    background-color: var(--color-background-second);
    border-color: transparent;
}
