/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-size: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}
/* bron: https://www.a11yproject.com/posts/how-to-hide-content/ */

/**************/
/* font-face */
/**************/
@font-face {
  font-family: "Foam sans-serif";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/sans-serif.woff2");
}
@font-face {
  font-family: "Foam sans-serif";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/sans-serif-cursief.woff2");
}

@font-face {
  font-family: "Foam serif";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/serif.woff2");
}
@font-face {
  font-family: "Foam serif";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/serif-cursief.woff2");
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* colors */
  --color-text-main: #000;
  --color-text-second: #fff;
  --color-text-gray: #5e5e5e;
  --color-text-hover: #e30614;

  --color-foam-open: #96c31d;

  --color-border-gray: #a6a6a6;
  --color-border-black: #000;

  --color-background-main: #fff;
  --color-background-second: #000;
  --color-background-third: #ffd000;
  --color-background-nav: #e30614;
}

@media (prefers-color-scheme: dark), (prefers-contrast: more) {
  :root {
    --color-text-main: #fefefe;
    --color-text-second: #fefefe;
    --color-text-gray: #a2a1a1;
    --color-text-hover: #e30614;

    --color-foam-open: #96c31d;

    --color-border-gray: #666;
    --color-border-black: #f1f1f1;

    --color-background-main: #000000;
    --color-background-second: #151515;
    --color-background-third: #e9a803;
    --color-background-nav: #940e0e;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01s !important;
  }
}
/* bron:https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_media_queries/Using_media_queries_for_accessibility */

::selection {
  color: var(--color-text-second);
  background-color: var(--color-background-second);
}

*:focus-visible {
  outline: 2px dashed var(--color-text-hover);
  outline-offset: 0.3rem;
}

/********/
/* body */
/********/

body {
  margin: 0;
  font-family: "Foam sans-serif", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text-main);
  background-color: var(--color-background-main);
}

body > a {
  position: absolute;
  top: -3em;
  z-index: 1001;
  padding: 0.5rem;
  color: var(--color-text-second);
  background: var(--color-background-second);
}

body > a:focus {
  top: 0;
}

/**********/
/* header */
/**********/

header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  margin: 0.8rem;
  background-color: var(--color-background-nav);
}

@media (min-width: 768px) {
  header {
    margin: 0;
    width: 30rem;
    justify-self: center;
  }
}

/* foam logo */
header svg {
  width: 100%;
  height: 1.7rem;
  color: var(--color-text-second);
}

header > :nth-child(1) {
  flex: 1;
  align-self: center;
  order: 2;
}

/* hamburger button */
header > button:nth-child(2) {
  display: grid;
  flex: 0 0 auto;
  justify-content: center;
  align-content: center;
  order: 1;
  width: 2.1rem;
  height: 2.1rem;
  margin: 0.5rem;
  background: none;
  border: none;
}

header > button:nth-child(2) span {
  display: block;
  grid-column-start: 1;
  grid-row-start: 1;
  width: 1.5rem;

  height: 0.13rem;
  background-color: var(--color-text-second);

  transition: 0.3s;
}

header > button:nth-child(2):hover span {
  width: 1.8rem;
}

header > button:nth-child(2) span:nth-of-type(1) {
  translate: 0 -0.25rem;
}

header > button:nth-child(2).is-open span:nth-of-type(1) {
  translate: 0;
  rotate: 45deg;
}

header > button:nth-child(2) span:nth-of-type(2) {
  translate: 0 0.25rem;
}

header > button:nth-child(2).is-open span:nth-of-type(2) {
  translate: 0;
  rotate: -45deg;
}

/* search button */
header > button:nth-child(3) {
  display: grid;
  flex: 0 0 auto;
  justify-content: center;
  align-content: center;
  order: 3;
  width: 2.1rem;
  height: 2.1rem;
  margin: 0.5rem;
  background: none;
  border: none;
}

header > button:nth-child(3) span:nth-of-type(1) {
  display: block;
  grid-column-start: 1;
  grid-row-start: 1;
  width: 1rem;
  height: 1rem;
  background: none;
  border: 2px solid var(--color-text-second);
  border-radius: 50%;
  transition: 0.3s;
}

header > button:nth-child(3):hover span:nth-of-type(1) {
  width: 0.8rem;
  height: 0.8rem;
}

header > button:nth-child(3).is-open span:nth-of-type(1) {
  width: 1.5rem;
  height: 0.13rem;
  background-color: var(--color-text-second);
  border: none;
  border-radius: 0;
  rotate: -45deg;
}

header > button:nth-child(3) span:nth-of-type(2) {
  position: relative;
  left: 0.7rem;
  width: 0.6rem;
  height: 0.15rem;
  background-color: var(--color-text-second);
  transition: 0.3s;
  rotate: 45deg;
}

header > button:nth-child(3):hover span:nth-of-type(2) {
  left: 0.46rem;
  width: 0.8rem;
}

header > button:nth-child(3).is-open span:nth-of-type(2) {
  top: -0.1rem;
  left: 0;
  width: 1.5rem;
  height: 0.13rem;
  background-color: var(--color-text-second);
}

header > a:focus-visible,
header > button:focus-visible {
  outline: 2px dashed var(--color-text-second);
  outline-offset: 0.3rem;
}

/*******************/
/* header main nav */
/*******************/

header > :nth-child(4) a:focus-visible {
  outline: 2px dashed var(--color-text-second);
  outline-offset: 0.3rem;
}

header > :nth-child(4) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  order: 4;
}

header nav {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;

  max-height: 0;
  overflow: hidden;
  background-color: var(--color-background-nav);
  transition: max-height ease 0.6s;
}

nav.is-visible {
  max-height: 60rem;
}

header nav > a {
  position: relative;
  align-self: center;
  margin-top: 0.2rem;
  padding-top: 0.3rem;
  padding-right: 0.9rem;
  padding-bottom: 0.4rem;
  padding-left: 2rem;
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--color-text-second);
  border-width: 1px;
  border-style: solid;
  border-radius: 45px;
  transition: 0.5s;
}

header nav > a::before {
  position: absolute;
  top: 0.7rem;
  left: 1rem;
  width: 0.4em;
  height: 0.4em;
  content: " ";
  background-color: var(--color-text-second);
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
}

/* zodat de eerste a niet schuin gaat staan */
header nav > a:hover {
  border-radius: 0;
  transition: 0.3s;
  transform: none;
}

header ul {
  margin: 0;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  list-style: none;
}

header nav ul a {
  display: inline-block;
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--color-text-second);
  transition: 0.3s;
}

/* ruimte tussen alle li in de eerste nav */
header nav:nth-of-type(1) li {
  margin-top: 0.15rem;
}

header nav svg {
  width: auto;
  height: 1.2rem;
  padding-left: 0.4rem;
}

/* svg new achter magazine */
header nav ul:nth-of-type(2) li:nth-of-type(1) svg {
  position: relative;
  bottom: -0.2rem;
  height: 1.6rem;
}

header nav a:hover {
  transform: skew(-15deg);
  transform-origin: bottom center;
}

/* 196 naast collection */
header nav sup {
  display: inline-block;
  font-size: 0.8rem;
  user-select: none;
}

/* socials */
header nav ul:nth-of-type(4) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 2rem;
}

header nav ul:nth-of-type(4) a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
}

header nav ul:nth-of-type(4) svg {
  height: 1rem;
  padding: 0;
}

header nav ul:nth-of-type(4) a:hover {
  color: var(--color-text-second);
  border-width: 1px;
  border-style: solid;
  transform: none;
}

/*****************/
/* header search */
/*****************/

header > :nth-child(5) {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  order: 5;
}

header search {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 998;

  max-height: 0;
  overflow: hidden;
  background-color: var(--color-background-nav);
  transition: max-height ease 0.4s;
}

search.is-visible {
  max-height: 60rem;
}

header form {
  display: flex;
  width: 100%;
  padding: 1rem;
}

header form label {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

header input {
  flex: 1;
  min-width: 0;
  height: 2rem;
  font-size: 1.5rem;
  color: var(--color-text-second);
  background: none;
  border: none;
}

header input:focus-visible {
  outline: none;
}

header input:focus {
  outline-style: dashed;
}

header input::placeholder {
  font-size: 1.5rem;
  color: var(--color-text-second);
  opacity: 1;
}

header form button {
  height: 2rem;
  background: none;
  border: none;
}

/**********/
/* footer */
/**********/

footer {
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 0.9rem;
  font-weight: 100;
}

footer > p {
  justify-self: end;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 0.5rem;
}

footer > a {
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 0.5rem;
}

footer > a img {
  width: auto;
  height: 2rem;
}

footer nav {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

footer nav ul:nth-of-type(1) {
  display: flex;
  justify-content: space-around;
  margin: 0.4rem 0.8rem;
  padding: 0.1rem 0.2rem;
  height: 3rem;
  list-style: none;
  outline: 1px solid var(--color-border-gray);
}

footer nav ul:nth-of-type(1) li {
  display: flex;
  list-style-type: none;
}

footer nav ul:nth-of-type(1) a {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  text-decoration: none;
  padding: 0.7rem;
}

footer nav ul:nth-of-type(1) li svg {
  width: auto;
  height: 1.2rem;
  vertical-align: middle;
  color: var(--color-text-main);
}

footer nav ul:nth-of-type(1) li:nth-of-type(4) svg {
  width: auto;
  height: 1rem;
  vertical-align: middle;
  color: var(--color-text-main);
}

footer nav ul:nth-of-type(2) {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  margin: 0.4rem 0.8rem;
  height: 3rem;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

footer nav ul:nth-of-type(2) li {
  display: flex;
  align-content: center;
  justify-content: center;
  outline: 1px solid var(--color-border-gray);
}

footer nav ul:nth-of-type(2) li a {
  display: flex;
  align-self: center;
  justify-self: center;
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--color-text-main);
  padding: 0.7rem;
}

footer nav ul li a:hover {
  color: var(--color-border-black);
  border-width: 1px;
  border-style: solid;
  transform: none;
}

footer nav ul:nth-of-type(2) a svg {
  align-self: center;
  width: auto;
  height: 0.9rem;
  margin-left: 0.5rem;
}

footer nav ul:nth-of-type(2) button {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 0.9rem;
  background: none;
  border: none;
}

footer > a:nth-of-type(2) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 0.4rem 0.8rem;
  text-decoration: none;
  color: var(--color-text-main);
}

footer > a:nth-of-type(2):hover {
color: var(--color-text-hover);
}

footer > p:nth-of-type(2) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 0.4rem 0.8rem;
  color: var(--color-text-main);
}

@media (min-width: 768px) {
  footer {
    padding: 1rem 3rem;
  }

  footer nav {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  footer nav ul:nth-of-type(1),
  footer nav ul:nth-of-type(2) {
    margin: 0;
  }

  footer > a:nth-of-type(2),
  footer > p:nth-of-type(2) {
    margin: 1rem 0;
    padding: 0;
  }
}

@media (prefers-color-scheme: dark), (prefers-contrast: more) {
  footer > a img {
    filter: invert(1);
  }
}
