/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


img {
	width: 100%;
}

svg {
	width: 50%;
}

html, body {
	overflow-x: hidden;
	font-size: 16px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
  }
/* bron: https://www.a11yproject.com/posts/how-to-hide-content/ */

/**************/
/* font-face */
/**************/
@font-face {
	font-family: 'Foam sans-serif';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/sans-serif.woff2');
}
@font-face {
	font-family: 'Foam sans-serif';
	font-style: italic;
	font-weight: normal;
	src: url('../fonts/sans-serif-cursief.woff2');
}

@font-face {
	font-family: 'Foam serif';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/serif.woff2');
}
@font-face {
	font-family: 'Foam serif';
	font-style: italic;
	font-weight: normal;
	src: url('../fonts/serif-cursief.woff2');
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* colors */
	--color-text-main:#000;
	--color-text-second:#fff;
	--color-text-hover:#E30614;

	--color-foam-open: #96C31D;

	--color-border-gray: #A6A6A6;
	--color-border-black: #000;

	--color-background-main:#fff;
	--color-background-second:#000;
	--color-background-third: #FBCB00;
	--color-background-nav:#E30614;

	/* transitions */
	--transition-3: 0.3s; 
}

@media (prefers-color-scheme: dark),
(prefers-contrast: more){
	:root {
		--color-text-main: #fefefe;
		--color-text-second: #fefefe;
		--color-text-hover:#E30614;

		--color-foam-open: #96C31D;

		--color-border-gray: #666; 
		--color-border-black: #f1f1f1; 

		--color-background-main: #000000; 
		--color-background-second: #252525;
		--color-background-third: #e9a803; 
		--color-background-nav: #940e0e; 
	}
}


@media (prefers-reduced-motion: reduce) {
	* {
	  transition-duration: 0.01s !important;
	}
  }
  /* brom:https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_media_queries/Using_media_queries_for_accessibility */

::selection {
	color: var(--color-text-second);    
	background-color: var(--color-background-second); 
  }



/********/
/* body */
/********/

body {
	margin: 0;
	font-family: "Foam sans-serif", sans-serif;
	-webkit-font-smoothing: antialiased;
	color: var(--color-text-main);
	background-color: var(--color-background-main);
}

body > a {
	position: absolute;
	top: -3em;
	z-index: 1001;
	padding: .5rem;
	color: var(--color-text-second);
	background: var(--color-background-second);
}

body > a:focus {
	top: 0;	
  }

/**********/
/* header */
/**********/

header { 
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1000;
	display: flex;
	flex-wrap: wrap;
	margin: .8rem;
	background-color: var(--color-background-nav);

}

/* foam logo */
header svg {
	width: 100%;
	height: 1.7rem;
	color: var(--color-text-second);
}
  
header > :nth-child(1) {
	flex: 1;
	align-self: center;
	order: 2; 
}

/* hamburger button */
header > button:nth-child(2) {
	display: grid;
	flex: 0 0 auto;
	justify-content: center;
	align-content: center;
	order: 1;
	width: 2.1rem;
	height: 2.1rem;
	margin: .5rem;
	background: none;
	border: none; 
}

header > button:nth-child(2) span {
	display: block;
  	grid-column-start: 1;
  	grid-row-start: 1;
	width: 1.5rem;
  
	height: .13rem;
	background-color: var(--color-text-second);
  
  	transition: .3s;
}

header > button:nth-child(2):hover span{
	width: 1.8rem;
}

header > button:nth-child(2) span:nth-of-type(1) {
	translate: 0 -.25rem ;
}

header > button:nth-child(2).is-open span:nth-of-type(1) {
	translate: 0;
	rotate: 45deg;
}

header > button:nth-child(2) span:nth-of-type(2) {
	translate: 0 .25rem ;
  
  }
  
header > button:nth-child(2).is-open span:nth-of-type(2) {
	translate: 0;
	rotate: -45deg;
  }
  
/* search button */
header > button:nth-child(3) {
	display: grid;
	flex: 0 0 auto;
	justify-content: center;
	align-content: center;
	order: 3;
	width: 2.1rem;
	height: 2.1rem;
	margin: .5rem;
	background: none;
	border: none; 
}


header > button:nth-child(3) span:nth-of-type(1){
	display: block;
	grid-column-start: 1;
	grid-row-start: 1;
	width: 1rem;
	height: 1rem;
	background: none;
	border: 2px solid var(--color-text-second);
	border-radius: 50%;
	transition: 0.3s;
}

header > button:nth-child(3):hover span:nth-of-type(1) {
	width: .8rem;
	height: .8rem;
}

header > button:nth-child(3).is-open span:nth-of-type(1) {
	width: 1.5rem;
	height: .13rem;
	background-color: var(--color-text-second);
	border: none;
	border-radius: 0;
	rotate: -45deg;
}

header > button:nth-child(3) span:nth-of-type(2){
	position: relative;
	left: 0.7rem;
	width: 0.6rem;
	height: 0.15rem;
	background-color: var(--color-text-second);
	transition: 0.3s;
	rotate: 45deg;
}

header > button:nth-child(3):hover span:nth-of-type(2) {
	left: .46rem;
	width: .8rem;
}

header > button:nth-child(3).is-open span:nth-of-type(2) {
	top: -.1rem;
	left: 0;
	width: 1.5rem;
	height: .13rem;
	background-color: var(--color-text-second);
}


/**************/
/* header main nav */
/**************/

header > :nth-child(4){
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 100%;
	order: 4;

}

header nav{
	position: absolute;              
	top: 100%;                       
	right: 0;
	left: 0;
	z-index: 999; 

	max-height: 0;
	overflow: hidden;
	background-color: var(--color-background-nav);
	transition: max-height ease .6s;
}

nav.is-visible {
	max-height: 60rem;
  }

header nav > a {
	position: relative;
	align-self: center;
	margin-top: .2rem;
	padding-top: .3rem;
	padding-right: .9rem;
	padding-bottom: .4rem;
	padding-left: 2rem;
	font-size: .9rem;
	text-decoration: none;
	color: var(--color-text-second);
	border-width: 1px;
	border-style: solid;
	border-radius: 45px;
	transition: .5s;
}

header nav > a::before {
	position: absolute;
	top: .7rem;
	left: 1rem;
    width: .4em;
    height: .4em;
    content: " ";
    background-color: var(--color-text-second);
    border-width: 1px;
	border-style: solid;
    border-radius: 20px;
}

/* zodat de eerste a niet schuin gaat staan */
header nav > a:hover {
	border-radius: 0;
	transition: .3s;
	transform: none;
}

header ul {
	margin: 0;
	padding-top: 2rem;
	padding-right: 2rem;
	padding-left: 2rem;
	list-style: none;
}

header nav ul a {
	display: inline-block;
	font-size: 1.8rem;
	text-decoration: none;
	color: var(--color-text-second);
	transition: .3s;
}

/* ruimte tussen alle li in de eerste nav */
header nav:nth-of-type(1) li {
	margin-top: .15rem;
}

header nav svg {
	width: auto;
	height: 1.2rem;
	padding-left: .4rem;
}

/* svg new achter magazine */
header nav ul:nth-of-type(2) li:nth-of-type(1) svg{
	position: relative;
	bottom: -.2rem;
	height: 1.6rem;
}

header nav a:hover {
	transition: transform 0.1s ease;
	transform: skew(-15deg);
	transform-origin: bottom center;
}

/* zodat de eerste a niet schuin gaat staan */
header nav > a:hover {
	border-radius: 0;
	transition: .3s;
	transform: none;
}

/* 196 naast collection */
header nav sup {
	display: inline-block;
	font-size: .8rem;
	user-select: none;
}

/* socials */
header nav ul:nth-of-type(4) {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1rem;
	padding-bottom: 2rem;
}

header nav ul:nth-of-type(4) a{
	display: flex;
	justify-content: center;
	align-items: center; 
	width: 2.5rem;
	height: 2.5rem;
}

header nav ul:nth-of-type(4) svg{
	height: 1rem;
	padding: 0;
}

header nav ul:nth-of-type(4) a:hover{
	color: var(--color-text-second);
	border-width: 1px;
	border-style: solid;
	transform: none;
}

/*****************/
/* header search */
/*****************/

header > :nth-child(5) {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 100%;	
	order: 5;
}

header search {
	position: absolute;              
	top: 100%;                       
	right: 0;
	left: 0;
	z-index: 998; 

	max-height: 0;
	overflow: hidden;
	background-color: var(--color-background-nav);
	transition: max-height ease .4s;
}

search.is-visible {
	max-height: 60rem;
}

header form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1rem;
}

header input {
	width: 100%;
	height: 2rem;
	font-size: 1.5rem;
	color: var(--color-text-second);
	background: none;
	border: none;

}

header input:focus-visible {
	outline: none;
}

header input:focus {
	outline-style: dashed;
}


header input::placeholder {
	font-size: 1.5rem;
	color: var(--color-text-second);
	opacity: 1; 
}

header form button {
	width: auto;
	height: 2rem;
	background: none;
	border: none;
}


/*********************/
/* header second nav */
/*********************/

header > :nth-child(n+6) {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 100%;
	order: 6;
}

header nav:nth-of-type(2) {
	position: relative;
	z-index: 997;
	overflow: visible;
}

header nav:nth-of-type(2) ul {
	display: grid;
	grid-template-columns: 30% 20% 30% 20%;
	padding-top: .5rem;
	padding-right: 1px;
	padding-left: 1px;
}

header nav:nth-of-type(2) li {
	padding-top: .7rem;
	padding-bottom: .7rem;
	text-align: center;
	background-color: var(--color-background-main);
	outline: 1px solid var(--color-border-gray);
}

header nav:nth-of-type(2) a {
	display: flex;
	justify-self: center;
	align-self: center;
	font-size: .8rem;
	color: var(--color-text-main);
}

header nav:nth-of-type(2) li:hover { 
	z-index: 3;
	outline-color: var(--color-border-black);
	transform: none;
}

header nav:nth-of-type(2) a:hover {
	transform: none;
}

/**********/
/* footer */
/**********/

footer {
	display: grid;
	grid-template-columns: 20% 20% 30% 30%;
	font-size: .9rem;
	font-weight: 100;
}

footer > p {
	justify-self: end;
	grid-column-start: 1;
	grid-column-end: 3;
	padding: .5rem;
}

footer > a {
	align-self: center;
	grid-column-start: 3;
	grid-column-end: 5;
	padding: .5rem;
}

footer > a img {
	width: auto;
	height: 2rem;
}

footer nav {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
}

footer nav ul:nth-of-type(1) {
	display: flex;
	justify-content: space-around;
	margin: .4rem .8rem;
	padding: .8rem .2rem;
	list-style: none;
	border-width: 1px;
	border-style: solid;
	border-color: var(--color-border-gray);
}

footer nav ul:nth-of-type(1) li {
	display: flex;
	list-style-type: none;
}

footer nav ul:nth-of-type(1) a {
	display: inline-flex;
	align-items: center;
	gap: 0.5em; 
	text-decoration: none;
}

footer nav ul:nth-of-type(1) li svg {
	width: auto;
	height: 1.2rem;
	vertical-align: middle;
	color: var(--color-text-main);
}

footer nav ul:nth-of-type(1) li:nth-of-type(4) svg{
	width: auto;
	height: 1rem;
	vertical-align: middle;
	color: var(--color-text-main);
}

footer nav ul:nth-of-type(2){
	display: grid;
	grid-template-columns: 40% 40% 20%;
	margin: .4rem .8rem;
	padding: 0 1px;
	text-decoration: none;
	list-style: none;
}

footer nav ul:nth-of-type(2) li{
	padding-top: .7rem;
	padding-bottom: .7rem;
	text-align: center;
	outline: 1px solid var(--color-border-gray);
}

footer nav ul:nth-of-type(2) li a{
	display: flex;
	justify-content: center;
	font-size: .9rem;
	text-decoration: none;	
	color: var(--color-text-main);

}

footer nav ul:nth-of-type(2) a svg{
	align-self: center;
	width: auto;
	height: .9rem;
	margin-left: .5rem;
}

footer nav ul:nth-of-type(2) button{
	display: flex;
	justify-content: center;
	width: 100%;
	font-size: .9rem;
	background: none;
	border: none;

}

footer nav ul:nth-of-type(2) button svg{
	align-self: center;
	width: auto;
	height: .9rem;
	margin-left: .5rem;
}

footer > a:nth-of-type(2) {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	margin: .4rem .8rem;
	text-decoration: none;
	color: var(--color-text-main);
}

footer > p:nth-of-type(2) {
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;
	margin: .4rem .8rem;
	color: var(--color-text-main);
}